<html>
  <form>
    <h2>Iniciar Sesión</h2>
     <div>
       <label for='nombre'>Nombre:</label>
       <input value={{nombre}}>
     </div>
     <div>
        <label for='contraseña'>Contraseña:</label>
        <input value={{pass}}>
     </div>
     <div class= 'button'>
        <button type='buton' {{action 'login'}}>Entrar</button>
     </div>
   </form>
</html>

{{outlet}}
